<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Primes</title>
	</head>
	<body bgcolor="#ffad33">
		{% block content %}


		{% endblock %}
	</body>
</html>
