{% extends 'basic.html' %}

{% block content %}

<h1>Primes</h1>
<form action="primes" method="POST">
	{% csrf_token %}

	Enter number: <input type="text" name="num1"><br><br>
	<input type="submit">
</form>

{% endblock %}

